
<mat-grid-list cols="6" rowHeight="2:1">
  <mat-grid-tile
      colspan="6"
      rowspan="1">
  </mat-grid-tile>
  <mat-grid-tile
      colspan="2"
      rowspan="3">
  </mat-grid-tile>
  <mat-grid-tile
      colspan="2"
      rowspan="3">
  </mat-grid-tile>
  <mat-grid-tile
      colspan="2"
      rowspan="3">
      <div style="padding: 50px;">
        <div class="mat-title" style="text-align: center; color: #3F51B5;">Welcome to GuruCool</div>
        <form (ngSubmit)= "onLogin(f)" #f = "ngForm">
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Username</mat-label>
            <input
            ngModel 
            required 
            email
            name="username"
            #username = "ngModel"
            matInput
            style="margin: 0%;">
            <mat-error *ngIf="!username.valid && username.touched">
              Enter Correct EmailID
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Password</mat-label>
            <input 
            [type]="hide ? 'password' : 'text'" 
            required
            ngModel
            name="password"
            #password = "ngModel"
            matInput>
            <button mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="!password.valid && password.touched">
              Enter Password
            </mat-error>
          </mat-form-field>
          <button 
          mat-raised-button
          [disabled] = "!f.valid "
          color="primary" onclick="this.blur()" style="outline: 0px;">
          Login</button>
        </form>
      </div>
      
  </mat-grid-tile>
  <mat-grid-tile
      colspan="6"
      rowspan="1">
  </mat-grid-tile>
</mat-grid-list>

<!-- <div class="container-fluid">
    <div class="row no-gutter">
      <div class="d-none d-md-flex col-md-4 col-lg-6"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <loader-tag *ngIf="isLoading"></loader-tag>
                <h3 class="login-heading mb-4" style="text-align: center;">Welcome</h3>
                <form *ngIf="!isLoading" (ngSubmit)= "onLogin(f)" #f = "ngForm">
                  <div class="form-group">
                    <div class="alert-danger form-control" *ngIf = "invalidPopin"><span class="text-center small"> Invalid Credentials </span></div>
                  </div>
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Username</mat-label>
                    <input
                    ngModel 
                    required 
                    email
                    name="username"
                    #username = "ngModel"
                    matInput
                    style="margin: 0%;">
                    <mat-error *ngIf="!username.valid && username.touched">
                      Enter Correct EmailID
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Password</mat-label>
                    <input 
                    matInput 
                    [type]="hide ? 'password' : 'text'" 
                    required
                    ngModel
                    name="password"
                    #username = "ngModel">
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="!username.valid && username.touched">
                      Enter Password
                    </mat-error>
                  </mat-form-field>
                  <button 
                  mat-raised-button
                  [disabled] = "!f.valid "
                  color="primary">
                  Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->