
<mat-toolbar color="primary" style="height: 50px; padding: 0%;">
  <button mat-icon-button (click)="toggleSidenav()"  onclick="this.blur()" style="outline: 0px;">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button style="margin-left: 30px; outline: 0px;"  onclick="this.blur()" (click)="homeClick()">
    <mat-icon>home</mat-icon>
    GuruCool
  </button>
  <span class="example-spacer"></span>
  <button mat-icon-button style="outline: 0px; margin-right: 5px;" onclick="this.blur()" [matMenuTriggerFor]="notificationMenu">
    <mat-icon>notifications</mat-icon>
    <mat-menu #notificationMenu="matMenu" xPosition="before">
      <button mat-menu-item>Message 1</button>
      <button mat-menu-item>Message 2</button>
    </mat-menu>
  </button>
  <button mat-icon-button style="outline: 0px; margin-right: 10px;" onclick="this.blur()"  [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
    <mat-menu #profileMenu="matMenu" xPosition="before">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        User Settings
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </mat-menu>
  </button>
</mat-toolbar>


<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">GuruCool</a>
    </div>

    <div class="collapse navbar-collapse w-100 ">
        <ul class="navbar-nav ml-auto">
            <li routerLinkActive = "active" class="nav-item ">
              <a class="nav-link" role="button" routerLink="/dashboard" >
                Dashboard
              </a>
            </li>
            <li routerLinkActive = "active" class="nav-item ">
              <a class="nav-link" role="button" routerLink="/activity" >
                  Activity
              </a>
            </li>
            <li class="nav-item dropdown" (click) = " changeDropdownStatus() " >
              <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">Manage</a>
              <ul class="dropdown-menu dropdown-menu-right" #dropdownButton>
                <li><div class="dropdown-item" role="button">Profile</div></li>
                <li><div class="dropdown-item" role="button">Notification</div></li>
                <li><div class="dropdown-item" role="button" (click) = "onLogout()">Logout</div></li>
              </ul>
            </li>
        </ul>
    </div>
</nav> -->