
<mat-toolbar color="primary" style="height: 50px; padding: 0%;">
  <button mat-icon-button (click)="toggleSidenav()"  onclick="this.blur()" style="outline: 0px;">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button style="margin-left: 30px; outline: 0px;"  onclick="this.blur()" (click)="homeClick()">
    <mat-icon>home</mat-icon>
    GuruCool
  </button>
  <span class="example-spacer"></span>
  <button 
  mat-icon-button 
  style="outline: 0px; margin-right: 5px;" 
  onclick="this.blur()"
  (click)="badgeHidden = true" 
  [matMenuTriggerFor]="notificationMenu">
    <mat-icon [matBadge]="notifications.length" matBadgeColor="warm" [matBadgeHidden]="badgeHidden">notifications</mat-icon>
  </button>
  <mat-menu #notificationMenu="matMenu" xPosition="before" onclick="this.blur()">
    <div mat-menu-item *ngFor="let notification of notifications" style="height: fit-content; width: 400px; margin-top: 10px;">
      <div matLine class="mat-body-1">
        <span class="mat-body-2" style="color: #3F51B5;">{{notification.name}}</span>
        <span class="mat-caption" style="float: right;">{{notification.dateTime | date:'d MMM yy, h:m'}}</span>
      </div>
      <div matLine class="mat-caption" style="word-wrap: break-word; white-space: pre-wrap;">
        {{notification.message}}
      </div>
      <mat-divider style="margin-top: 10px;"></mat-divider>
    </div>
  </mat-menu>
  <button mat-icon-button style="outline: 0px; margin-right: 10px;" onclick="this.blur()"  [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu="matMenu" xPosition="before">
    <div mat-menu-item style="width: 170px;">
      <mat-icon>person</mat-icon>
      Profile
    </div>
    <div mat-menu-item (click)="onLogout()" style="width: 170px;">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </div>
  </mat-menu>
</mat-toolbar>


<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">GuruCool</a>
    </div>

    <div class="collapse navbar-collapse w-100 ">
        <ul class="navbar-nav ml-auto">
            <li routerLinkActive = "active" class="nav-item ">
              <a class="nav-link" role="button" routerLink="/dashboard" >
                Dashboard
              </a>
            </li>
            <li routerLinkActive = "active" class="nav-item ">
              <a class="nav-link" role="button" routerLink="/activity" >
                  Activity
              </a>
            </li>
            <li class="nav-item dropdown" (click) = " changeDropdownStatus() " >
              <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">Manage</a>
              <ul class="dropdown-menu dropdown-menu-right" #dropdownButton>
                <li><div class="dropdown-item" role="button">Profile</div></li>
                <li><div class="dropdown-item" role="button">Notification</div></li>
                <li><div class="dropdown-item" role="button" (click) = "onLogout()">Logout</div></li>
              </ul>
            </li>
        </ul>
    </div>
</nav> -->