
<div class="row">
    <div class="col-9">
        <div class="container-fluid">
            <lec-list-tag></lec-list-tag>
        </div>
    </div>
    <div class="col-3">
        <div class="row border border-top-0 border-dark rounded-lg p-3">
            <new-lec-tag class="container-fluid" ></new-lec-tag>    
        </div>
        <div class="row border border-top-0 border-dark rounded-lg p-3">
            <new-stream-tag class="container-fluid"></new-stream-tag>
        </div>
    </div>
</div>