
<mat-tab-group mat-align-tabs="start" (selectedTabChange)="onTabChange()" [(selectedIndex)]="index">
    <mat-tab  *ngFor="let subject of subjects; let i=index" [label]="subject.name">
        <div style="width: 70%; float: left; padding: 20px;">
            <div style="padding: 10px;">
                <lec-list-tag></lec-list-tag>
            </div>
        </div>
        <div style="width: 30%; float: right; padding: 20px">
            <div style="padding: 10px;">
                <edit-lec-tag></edit-lec-tag>    
            </div>
        </div>
    </mat-tab>
</mat-tab-group>


