<div style="width: 70%; float: left; padding: 20px;">
    <br>
    <div class="mat-title">Subscribed Subjects</div><br>
    <mat-list>
        <mat-list-item  *ngFor = " let subject of subjects; let i = index; " (mouseenter) = "enableOption(i)" (mouseleave) = "disableOption(i)"
        style="border: 2px; border-color: black;"> 
            <span matLine>
                <div class="mat-body-2">
                    {{ subject }}
                    <span style="flex: 1 1 auto;"></span>
                    <button mat-icon-button (click)="viewSubject(i)" style="float: right;">
                        <mat-icon mat-list-icon >keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </span>
            <span matLine *ngIf="option[i]">
                <span class="mat-caption p-3">
                    Avg. Attendance: {{avgAttendance[i]}}
                </span>
                <span class="mat-caption p-3">
                    Class: {{class[i]}}
                </span>
                <span class="mat-caption p-3" role="button" (click)="viewTest(i)">
                    <img src="../../../assets/list-ul.svg"> Tests
                </span>
                <span class="mat-caption p-3" role="button" (click)="newTest(i)">
                    <img src="../../../assets/plus.svg"> New Test
                </span>
            </span>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</div>
<div style="width: 30%; float: right; padding: 20px">
    <router-outlet>
    </router-outlet>
</div>

